@using System.Globalization
@model DTOs.DTOs.Equipo.AltaCamaraDTO

@{
    ViewData["Title"] = "CreateCamara";
}

<h1>CreateCamara</h1>

<h4>AltaCamaraDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCamara">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="TipoSensor" class="form-label">Tipo de sensor</label>
                <select asp-for="TipoSensor" class="form-control">
                    <option value="" disabled selected hidden>Seleccione un tipo de sensor</option>
                    <option value="0">CMOD</option>
                    <option value="1">CCD</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Resolucion" class="control-label">Resolucion</label>
                <input asp-for="Resolucion"
                       class="form-control"
                       type="number"
                       step="any" />
                <span asp-validation-for="Resolucion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TamanoPixel" class="control-label">Pixeles</label>
                <input asp-for="TamanoPixel"
                       class="form-control"
                       type="number"
                       step="any" />
                <span asp-validation-for="TamanoPixel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Marca" class="control-label">Marca</label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Modelo" class="control-label">Modelo</label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CantidadDisponible" class="control-label">Stock</label>
                <input asp-for="CantidadDisponible" class="form-control" type="number" step="1" />
                <span asp-validation-for="CantidadDisponible" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
