@using DTOs.DTOs.Usuario

@model LoginUsuarioDTO

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h4>Iniciar Sesión</h4>
                </div>
                <div class="card-body">

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="usuario@ejemplo.com" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Contraseña</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Tu contraseña" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-success w-100">Entrar</button>
                    </form>
                </div>
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-warning" role="alert">
                        <p>@ViewBag.ErrorMessage</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}